
<style type="text/css">
  body {
    padding-left: 0;
  }
</style>
 <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Dancing Away</h1>
        <div class="row center">
          <h5 class="header col s12 light">Get Down to Best Events</h5>
        </div>
        <div class="row center">
          <%= link_to "Sign up", signup_path, class: "waves-effect waves-light btn-large" %>
      <%= link_to "Sign in", signin_path, class: "waves-effect waves-light btn-large" %>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"> <%= image_tag "breakdance-finals.jpg"  %></div>
  </div>
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-image-tag-faces"></i></h2>
            <h5 class="center">Event Planning</h5>
            <p class="light"> Be able to help organize the events you wnat to go to or even scheduling your practices</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-hardware-speaker"></i></h2>
            <h5 class="center">SoundCloud Playlists</h5>
            <p class="light"> Be able to save Soundcloud music from your favorite DJs like Fleg or Lean Rock. There is no dance without the music
</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">play_arrow</i></h2>
            <h5 class="center">Battle Vids</h5>
            <p class="light">Save your favorite battles from history. You can enjoy your favorite past competitions again without having to go back and continually search for them</p>
          </div>
        </div>
      </div>

    </div>
  </div>
 <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
<!--           <h3 class="header center teal-text text-lighten-2">Never Worry about Planning a party again</h5>
 -->        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "sunglasses.png"  %></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Me  </h4>
        </div>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>
